<%- include('../partials/header.ejs') -%>

<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-----------------------------ADD PAGE----------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-------------------------------------------------------------------------> 
<!-- MAIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="SurveyNameTextField">Survey Name: </label>
                    <input type="text" class="form-control"
                    id="SurveyNameTextField"
                    placeholder="Enter the title for your servey"
                    name="SurveyName" 
                    value= "<%= survey.SurveyName %>"
                    required>
                </div>
                
               <!-- This form Group is for a Question and its choices-->
               <% for (let questionNumber = 0; questionNumber < SurveyQuestions.length; questionNumber++) { %>
                <div class="formGroup" id = "Question<%=questionNumber%>">                
                    
                    <!-- Question -->                        
                    <div class = "form-group">
                        <label for="Question">Question</label>
                        <input type="text" class="form-control"
                        id="Question"
                        placeholder="Enter the Question"
                        name="Question<%=questionNumber%>"
                        value="Question <%=questionNumber%>"
                        required>
                        
                    <!-- Choices -->
                    <% for (let choiceNumber = 0; choiceNumber < SurveyQuestions[questionNumber].length; choiceNumber++) { %>
                        <label for="Choice">Choice</label>
                        <input type="text" class="form-control"
                        id="Choice"
                        placeholder="Enter a choice"
                        name="Choice<%=choiceNumber%>"
                        value="Choice <%=choiceNumber%>"
                        required>

                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-create"></i>Add Choice</button>

                    <% } %> 
                    </div>

                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-create"></i>Add Question</button>
                </div>
            <% } %>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit Edit</button>
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!-- THIS NEED A CORRECT ROUTE PLEASE FIX I DON'T KNOW IF THIS IS CORRECT-->
                    <!------------------------------------------------------------------------->
                    <!----------|-------------------------------------------------------------->
                    <!--------- |-------------------------------------------------------------->
                    <!---------\ /------------------------------------------------------------->
                    <!----------V-------------------------------------------------------------->                    
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel Edit</a>
            </form>
        </div>
    </div>
  </div>



    <%- include('../partials/bottomnav.ejs') -%>
    <%- include('../partials/footer.ejs') -%>