<%- include('../partials/header.ejs') -%>

<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-----------------------------ADD PAGE----------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-------------------------------------------------------------------------> 
<!-- MAIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="SurveyNameTextField">Survey Name: </label>
                    <input type="text" class="form-control"
                    id="SurveyNameTextField"
                    placeholder="Enter the title for your servey"
                    name="SurveyName" 
                    value= "<%= survey.SurveyName %>"
                    required>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" id="SurveyActiveTextBox" name="IsActive" value="true">
                      Activate Survey
                    </label>
                  </div>                

                <div class="form-group row">
                    <label for="example-date-input" class="col-2 col-form-label">Date</label>
                    <div class="col-10">
                      <input type="date" class="form-control"
                      id="ExpireDate"
                      value= "<%= survey.QuestionObject1.Choices[0] %>"
                      name="ExpireDate">
                    </div>
                </div>       
                
              <!-- 100% there I will fuck up a name, Id or label here because they are all so similar, the difference being the numbers QuestionObject#Choice#-->
                <!--Question 1-->
                
                <!--Question Being Asked-->
                <div class="form-group">
                    <label for="QuestionObject1QuestionTextField">Question 1:</label>
                    <input type="text" class="form-control"
                    id="QuestionObject1QuestionTextField"
                    value= "<%= survey.QuestionObject1.Question %>"
                    name="QuestionObject1Question" 
                    required>
                </div>
                
                <!--Question 1 Choices-->
                <!--Choice 1-->
                <div class="form-group">
                    <label for="QuestionObject1Choice1TextField">Choice 1:</label>
                    <input type="text" class="form-control"
                    id="QuestionObject1Choice1TextFieldTextField"
                    value= "<%= survey.QuestionObject1.Choices[0] %>"
                    name="QuestionObject1Choice1" 
                    required>
                </div>

                <!--Choice 2-->
                <div class="form-group">
                    <label for="QuestionObject1Choice2TextField">Choice 2:</label>
                    <input type="text" class="form-control"
                    id="QuestionObject1Choice2TextFieldTextField"
                    value= "<%= survey.QuestionObject1.Choices[1] %>"
                    name="QuestionObject1Choice2" 
                    required>
                </div>

                <!--Choice 3-->
                <div class="form-group">
                    <label for="QuestionObject1Choice3TextField">Choice 3</label>
                    <input type="text" class="form-control"
                    id="QuestionObject1Choice3TextFieldTextField"
                    value= "<%= survey.QuestionObject1.Choices[2] %>"
                    name="QuestionObject1Choice3" 
                    required>
                </div>
                
                <!--Choice 4-->
                <div class="form-group">
                    <label for="QuestionObject1Choice4TextField">Choice 4</label>
                    <input type="text" class="form-control"
                    id="QuestionObject1Choice4TextFieldTextField"
                    value= "<%= survey.QuestionObject1.Choices[3] %>"
                    name="QuestionObject1Choice4" 
                    required>
                </div>

               <!-- 100% there I will fuck up a name, Id or label here because they are all so similar, the difference being the numbers QuestionObject#Choice#-->
                <!--Question 2-->
                <div class="form-group">
                    <label for="QuestionObject2QuestionTextField">Question 2</label>
                    <input type="text" class="form-control"
                    id="QuestionObject2QuestionTextField"
                    placeholder="Enter Question 2"
                    name="QuestionObject2Question"
                    value= "<%= survey.QuestionObject2.Question %>"
                    required>
                </div>
                
                <!--Question 2 Choices-->
                <!--Choice 1-->
                <div class="form-group">
                    <label for="QuestionObject2Choice1TextField">Choice 1</label>
                    <input type="text" class="form-control"
                    id="QuestionObject2Choice1TextFieldTextField"
                    placeholder="Choice 1 for Question 2"
                    name="QuestionObject2Choice1" 
                    value= "<%= survey.QuestionObject2.Choices[0] %>"
                    required>
                </div>

                <!--Choice 2-->
                <div class="form-group">
                    <label for="QuestionObject2Choice2TextField">Choice 2</label>
                    <input type="text" class="form-control"
                    id="QuestionObject2Choice2TextFieldTextField"
                    placeholder="Choice 2 for Question 2"
                    name="QuestionObject2Choice2" 
                    value= "<%= survey.QuestionObject2.Choices[1] %>"
                    required>
                </div>

                <!--Choice 3-->
                <div class="form-group">
                    <label for="QuestionObject2Choice3TextField">Choice 3</label>
                    <input type="text" class="form-control"
                    id="QuestionObject2Choice3TextFieldTextField"
                    placeholder="Choice 3 for Question 2"
                    name="QuestionObject2Choice3" 
                    value= "<%= survey.QuestionObject2.Choices[2] %>"
                    required>
                </div>
                
                <!--Choice 4-->
                <div class="form-group">
                    <label for="QuestionObject2Choice4TextField">Choice 4</label>
                    <input type="text" class="form-control"
                    id="QuestionObject2Choice4TextFieldTextField"
                    placeholder="Choice 4 for Question 2"
                    name="QuestionObject2Choice4" 
                    value= "<%= survey.QuestionObject2.Choices[3] %>"
                    required>
                </div>

                <!-- 100% there I will fuck up a name, Id or label here because they are all so similar, the difference being the numbers QuestionObject#Choice#-->
                <!--Question 3-->
                <div class="form-group">
                    <label for="QuestionObject3QuestionTextField">Question 3</label>
                    <input type="text" class="form-control"
                    id="QuestionObject3QuestionTextField"
                    placeholder="Enter Question 3"
                    name="QuestionObject3Question"
                    value= "<%= survey.QuestionObject3.Question %>"
                    required>
                </div>
                
                <!--Question 3 Choices-->
                <!--Choice 1-->
                <div class="form-group">
                    <label for="QuestionObject3Choice1TextField">Choice 1</label>
                    <input type="text" class="form-control"
                    id="QuestionObject3Choice1TextFieldTextField"
                    placeholder="Choice 1 for Question 3"
                    name="QuestionObject3Choice1" 
                    value= "<%= survey.QuestionObject3.Choices[0] %>"
                    required>
                </div>

                <!--Choice 2-->
                <div class="form-group">
                    <label for="QuestionObject3Choice2TextField">Choice 2</label>
                    <input type="text" class="form-control"
                    id="QuestionObject3Choice2TextFieldTextField"
                    placeholder="Choice 2 for Question 3"
                    name="QuestionObject3Choice2" 
                    value= "<%= survey.QuestionObject3.Choices[1] %>"
                    required>
                </div>

                <!--Choice 3-->
                <div class="form-group">
                    <label for="QuestionObject3Choice3TextField">Choice 3</label>
                    <input type="text" class="form-control"
                    id="QuestionObject3Choice3TextFieldTextField"
                    placeholder="Choice 3 for Question 3"
                    name="QuestionObject3Choice3" 
                    value= "<%= survey.QuestionObject3.Choices[2] %>"
                    required>
                </div>
                
                <!--Choice 4-->
                <div class="form-group">
                    <label for="QuestionObject3Choice4TextField">Choice 4</label>
                    <input type="text" class="form-control"
                    id="QuestionObject3Choice4TextFieldTextField"
                    placeholder="Choice 4 for Question 3"
                    name="QuestionObject3Choice4" 
                    value= "<%= survey.QuestionObject1.Choices[3] %>"
                    required>
                </div>         

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit Edit</button>
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!------------------------------------------------------------------------->
                    <!-- THIS NEED A CORRECT ROUTE PLEASE FIX I DON'T KNOW IF THIS IS CORRECT-->
                    <!------------------------------------------------------------------------->
                    <!----------|-------------------------------------------------------------->
                    <!--------- |-------------------------------------------------------------->
                    <!---------\ /------------------------------------------------------------->
                    <!----------V-------------------------------------------------------------->                    
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel Edit</a>
            </form>
        </div>
    </div>
  </div>



    <%- include('../partials/bottomnav.ejs') -%>
    <%- include('../partials/footer.ejs') -%>